<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>New EJS</title>
</head>
<body>
    <div class="container">
        <h1>Make A New Entry</h1>

        <form action="/budgets" method="POST">
            <input type="date" name="date" placeholder="Enter Date"><br>
            
            <input type="text"  name="name" placeholder="Name"><br>
            
            <input type="number"  name="amount" placeholder="Amount"><br>
            
            <input type="text"  name="from" placeholder="From" ><br>
            
            <input type="text"  name="tags" placeholder="Tags"><br>
            
            <input type="submit"  submit="submit" value="Create">
        </form>
    </div>
</body>
</html>