<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>New EJS</title>
</head>
<body>
    <div class="container">
        <h1>NEW EJS</h1>

        <form action="/butgets" method="POST">
            Date: <input type="date" date="date"><br>
            Name: <input type="text"  name="name"><br>
            Amount: <input type="number"  amount="amount"><br>
            From: <input type="text"  from="from" ><br>
            Tags: <input type="text"  tags="tags" ><br>
            Submit: <input type="submit"  submit="submit" value="Create"><br>
        </form>
    </div>

</body>
</html>