<!DOCTYPE html>
<html lang="en">
<head
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Show EJS</title>
</head>
<body>
    <div class="container">
        <h1><%= budget.name %></h1>
        
        <button><a href="/budgets">back</a></button>
        <%for(let key in budget){ %>
            <div class="row table">
                <table class="u-full-width">
                    <thead>
                        <tr> 
                            <h2><%= key %></h2><br>
                        </tr>
                        <tbody>
                        
                            <td>
                                <h4><%= budget[key] %></h4>
                            </td>
                        
                    </tbody>
                </thead>
            </table>
        </div>
            
     <% } %>
    </div>
</body>
</html>